body,
h1 {
  margin: 0;
  background-color: #82c1ec;
  font-family: "Open Sans", sans-serif;
}
.header__title {
  margin: 30px 0;
  text-align: center;
}
.app__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__img-container {
  width: 200px;
}
.header__image {
  width: 100%;
}
.main__filter {
  text-align: center;
  padding: 10px;
}
.filter__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter__input {
  margin-top: 5px;
  width: 250px;
  border: 0px;
  color: #5294eb;
  border-radius: 15px;
  border-bottom: 3px solid #577342;
  padding: 15px;
  background-color: #252736;
}
.filter__input::placeholder {
  color: #7ac0f2;
}
.filter__input:hover {
  box-shadow: 0 19px 38px rgba(#000, 0.3), 0 15px 12px rgba(#000, 0.22);
}
.directors__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 3px solid #577342;
  background: #2c3e50;
  background-image: none;
  padding: 10px;
  color: #7ac0f2;
  margin: 10px;
  width: 200px;
}
.filter__select-container {
  position: relative;
  display: inline-block;
}
.filter__select-container:after {
  position: absolute;
  top: 22%;
  right: 15px;
  content: "⌄";
  color: #7ac0f2;
}

.directors__option {
  padding: 10px;
  color: #7ac0f2;
}
.films__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
  justify-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list__film {
  background-color: #ece3d4;
  margin: 10px;
  padding: 10px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 19px 38px rgba(#000, 0.3), 0 15px 12px rgba(#000, 0.22);
}
.list__film:hover {
  transform: scale(1.1);
}
.list__film > * {
  display: block;
}
.film__image {
  width: 200px;
}
.film__description-title {
  cursor: pointer;
  position: relative;
}
.film__description-title:after {
  content: "";
  left: 100%;
  top: 0;
  position: absolute;
  width: 200px;
  height: 30px;
  background-image: url("../images/totoro-chibi-walk.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.film__description-title:hover {
  color: #5096eb;
}
.noResults__container {
  text-align: center;
}
.noResults__png {
  width: 200px;
}
.hidden {
  visibility: hidden;
  height: 1px;
}

/* medias */
@media (min-width: 768px) {
  .films__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .list__film {
    max-width: 350px;
  }
}
@media (min-width: 1024px) {
  .films__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
