body, h1 {
  margin: 0;
  background-color: #82C1EC;
  font-family: 'Open Sans', sans-serif;
}
.header__title {
  margin: 30px 0;
  text-align: center;
}
.app__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headder__img-container {
  width: 200px;
}
.header__image {
  width: 100%;
}
.main__filter {
  text-align: center;
  padding: 10px;
}
.filter__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter__input {
  margin-top: 5px;
  width: 250px;
  border: 0px;
  color: #5294EB;
  border-radius: 15px;
  border-bottom: 3px solid #577342;
  padding: 15px;
  background-color: #252736;
}
.filter__input::placeholder {
  color: #7AC0F2;
}
.filter__input:hover {
  box-shadow: 0 19px 38px rgba(#000, 0.30), 0 15px 12px rgba(#000, 0.22);
}
.directors__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 3px solid #577342;
  background: #2c3e50;
  background-image: none;
  padding: 10px;
  color: #7AC0F2;
  margin: 10px;
  width: 200px;
}
.filter__select-container {
  position: relative;
  display: inline-block;
}
.filter__select-container:after {
  position: absolute;
  top: 22%;
  right: 15px;
  content: "⌄";
  color: #7AC0F2;
}

.directors__option {
  padding: 10px;
  color: #7AC0F2;
}
.films__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
  justify-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list__film {
  background-color: #ECE3D4;
  margin: 10px;
  padding: 10px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 19px 38px rgba(#000,0.30), 0 15px 12px rgba(#000,0.22);
}
.list__film:hover {
  transform: scale(1.1);
}
.list__film > * {
  display: block;
}
.film__image {
  width: 200px;
}
.film__description-title {
  cursor: pointer;
}
.film__description-title:hover {
  color: #5096EB;
}
.noResults__container {
  text-align: center;
}
.noResults__png{
  width: 200px;
}
.hidden {
  visibility: hidden;
  height: 1px;
}

/* medias */
@media (min-width: 768px) {
  .films__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .list__film {
    max-width: 350px;
  }
}
@media (min-width: 1024px) {
  .films__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Spinner Slices */
.spinner {
  text-align: center;
}
.spinner:after {
  content: '';
  height: 50px;
  width: 50px;
  margin: auto;
  top: 130px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(69, 3, 95, 0.15);
  border-right: 6px solid rgba(69, 3, 95, 0.15);
  border-bottom: 6px solid rgba(69, 3, 95, 0.15);
  border-top: 6px solid rgba(69, 3, 95, 0.8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}